/***** HTML *****/
html {
    max-width: 88%;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: grey;
    background-image: url("../images/textures/fabric_plaid.png");
    background-repeat: repeat;
}

#container {
    width: 100%;
    margin: 0 auto;
}

a, a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

@font-face {
    font-family: BlanchCaps;
    src: url("../images/fonts/blanch/BLANCH_CAPS.ttf");
}

@font-face {
    font-family: Museo500WebFont;
    src: url("../images/fonts/museo/museo-500-webfont.ttf")
}

/****** NAV ******/
nav {
    width: 98%;
    margin: 0 auto;
    background-color: inherit;
    color: #333;
    display: flex;
    text-transform: uppercase;
    font-family: Blanch;
}

nav section#left-column {
    width: 15%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav section#left-column img {
    width: 50%;
    padding-left: 12px;
}

nav section#mid-column {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
}

nav section#mid-column ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav section#mid-column ul li {
    padding: 0 14px;
}

nav section#right-column {
    width: 25%;
}

nav section#right-column img {
    width: 2.5vw;
    height: 2.5vh;
    border-radius: 5px;
}

nav section#right-column ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav section#right-column ul li {
    padding: 0 14px;
}

/****** HEADER ******/
header {
    width: 98%;
    margin: 0 auto;
    background-color: grey;
    background-image: url("../../images/EWU_campus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Museo500WebFont;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.6);
}

header div#arrows {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div#arrows img {
    width: 3%;
}

header div#horizontal-bar {
    height: 3vh;
    background-color: rgba(51, 51, 51, 0.6);
    opacity: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
    color: white;
}

header div#horizontal-bar span {
    padding-right: 28px;
}


/****** MAIN ******/
main {
    width: 98%;
    padding: 28px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Museo500WebFont;
}

main p {
    font-size: 1em;
    color: #333;
}

main#image-gallery-large {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

main#image-gallery-large img {
    width: 25%;
}


/***** FOOTER *****/
footer {
    width: 98%;
    margin: 0 auto;
    background-image: url("common/images/textures/az_subtle.png");
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
}

footer h3 {
    background-color: inherit;
    color: #333;
    text-transform: capitalize;
}

footer section#horizontal-bar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: Museo500WebFont;
    font-size: 1em;
}

footer section#horizontal-bar img {
    width: 2.5vw;
    height: 2.5vh;
}    

footer section#horizontal-area {
    width: 100%;
    border: 1px dashed orange;
    background-image: url("../images/textures/az_subtle.png") repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer section#horizontal-area #left-vertical-column {
    width: 34%;
    border: 1px solid red;
}

footer section#horizontal-area #mid-vertical-column {
    width: 33%;
    border: 1px solid red;
}

footer section#horizontal-area #right-vertical-column {
    width: 20%;
    border: 1px solid red;
    font-family: BlanchCaps;
    text-transform: uppercase;
    color: #333;
}

#gallery-min {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#gallery-min img {
    width: 4vw;
    height: 4vh;
}


/***** TABLET *****/
/*@media () {}*/